<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form method="post" action="/login">
      Username: <input type="text" name="username">
      Password: <input type="text" name="password">
<<<<<<< HEAD
      <input type="submit" id="submit">
=======
>>>>>>> 5fa239f21c60bcf4cc5a9817821c314ed9e90124
    </form>
  </body>
</html>